/* Main tags */

body{
	margin:0px;
	padding:0px;
	font-family:tahoma;
	direction:rtl;
	text-align:right;
	background:#d4d4d4;
}

*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

a{
	color:black;
	text-decoration:none;
}

a:visited{
	color:black;
	text-decoration:none;
}

a:active{
	color:black;
	text-decoration:none;
}

.container{
	max-width:1900px;
	width:100%;
	display:block;
	margin:0px auto;
}

/* Header classes */

.header{
	background: #fff;
	width:100%;
    /* width: calc(100% - 20px); */
    padding: 15px;
}

.header-logo{
	float:right;
}

.header-search{
	float:right;
}

.header-login{
	float:left;
}

.header-search{
    float: right;
	/* method1 - بهتره کمتر استفاده کنیم */
    /* position: relative; */
    /* right: 14px; */
    /* top: 2px; */
	
	/* method 2 - بهتره ازین استفاده کنیم */
    margin-right: 20px;
    margin-top: 2px;
}

.header-search-input{
    border: 0px;
    background: #e6e6e6;
    border-radius: 5px;
    padding: 4px 12px;
    outline: 0px;
}

.header-login button{
    border: 1px solid #b5b5b5;
    padding: 4px 12px;
    border-radius: 7px;
    background: #fff;
    color: #3c3c3c;
}

.header-search form{
    position: relative;
}

.header-search-button{
    position: absolute;
    right: 3px;
    top: 4px;
    border: 0px;
    background: #ff000000;
}

.header-search-input{
    padding-right: 39px;
}

/* End of headers */

/* Slider classes */

.slider-slide{
    width: 100%;
    border-radius: 15px;
}

.slider-ads{
    width: 100%;
    border-radius: 15px;
}

.pic{
    width: 100%;
    border-radius: 15px;
}

.slider{
    width: 100%;
    padding: 10px 5%;
}

.product{
	width: 100%;
    padding: 10px 5%;
}

.offer-pic {
    width: 100%;
}

.offer{
    background: #ef394e;
    width: 100%;
    padding: 20px 9%;
}

/* End of slider */

/* Footer */

.footer{
	background: #fff;
	width:100%;
    /* width: calc(100% - 20px); */
    padding: 15px;
}

/* End of footer */

/* For two pics in one row */
.big-pic{
	width: 50%;
    border-radius: 15px;
	margin-right: 25%;
}

/* Others */
/* Style for a div that fixes the box height */
.clearfix{
    height: 0px;
    clear: both;
    display: block;
    width: 100%;
}

.white-box{
    background: #fff;
    width: 80%;
    margin: 0px auto;
    display: block;
}

.single-box {
	left: -1%;
    position: relative;
}
